body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  width: 90%;
  margin: auto;
}

.left-sidebar {
  width: 25%; /* Default width for large devices */
  margin: 0 auto;
}

/* Small devices (Mobile) */
@media screen and (max-width: 767px) {
  .container {
    width: 95%;
  }
  /* Adjust typography for smaller screens */
  h1 {
    font-size: 1.5rem; /* 24px */
  }
  .left-sidebar {
    display: none;
  }
}

/* Medium devices (Tablets) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
  /* Adjust typography for tablets */
  h1 {
    font-size: 2rem; /* 32px */
  }
  .left-sidebar {
    width: 30%;
  }
}

/* Large devices (Desktops) */
@media screen and (min-width: 992px) {
  /* Adjust layout for desktops */
  .container {
    width: 80%;
  }
  /* Fine-tune typography for desktops */
  h1 {
    font-size: 2.5rem; /* 40px */
  }
  .left-sidebar {
    width: 25%;
  }
}

