.search-container {
  width: 100%;
  max-width: 600px;
  padding-top: 10px;
  margin: 0 auto; /* Center the container horizontally */
}

.input-box {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box; /* Ensure padding does not affect width */
}

.search-button {
  padding: 10px 20px; /* Adjust padding to match the input height */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding does not affect width */
  height: 40px; /* Match the height of the input */
}

.search-button:hover {
  background-color: #0056b3;
}