.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


input[type="search"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.question-details {
  margin-bottom: 20px;
}

.add-answer-container {
  margin-top: 30px;
}